<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <pipelines>
      <commerce.customers.createUser>
        <processor patch:instead="processor[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Customers.CreateUser, Sitecore.Commerce.Engine.Connect']" type="Sitecore.Support.Commerce.Engine.Connect.Pipelines.Customers.CreateUser, Sitecore.Support.36899" >
        </processor>
      </commerce.customers.createUser>
    </pipelines>
  </sitecore>
</configuration>